/* Website styles */
*{
  font-size: 100%;
  /* border:1px solid purple;  */
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

body {
  background-color: grey;
  color: purple;
  font-family: 'Hubballi', cursive;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 14px;
  margin: 20px;
  background-image: url(images/wildflower_bg.png);
  /* background-repeat: no-repeat; */
}

h1 {
  color: darkpurple;
  font-size: 36px;
  text-align: left;
}

h2 {
  color: purple;
  font-size:24px;
}

p {
  color: black;
  font-size: 25px;
  line-height: 2;
  margin: 15px 0;
  /* border: 1px dotted purple; */
  /* padding: 30px; */
}

li {
  color: black;
}

h1, h2, h3 {
  font-weight: 600;
  font-style: oblique;
  margin-bottom: 20px;
  /* border: 1px solid purple; */
}

header {
  /* background-color: blue; */
  /* border-bottom: 5px solid blue; */
  margin: 20px;
  padding: 10px;
}

footer {
  font-size: 19px;
}
footer p {
  font-size: 22px;
}

header h1 {
    text-align: center;
}

a:link,
a:focus,
a:active {
  color: red;
  text-decoration: none;
  font-size: 25px;
}

a:hover {
  text-decoration: underline;
}

a:vistited {
  color: grey;
}

ul, ol {
  margin: 15px 0;
  /* padding: 30px; */
}

ol {
  font-size: 25px;
  text-decortation: bold;
}

li {
  font-size: 25px;
  text-decoration: bold;
}

img {
  width: 300px;
  height: 200px;
}

.title {
  font-size: 48px;
  /* text-decoration: underline; */
}

.about {
  width: 25%;
}

/* .container { */
  max-width: 1000px;
  margin: 0 auto;
}

div {
  margin: 0 auto;
}

.banner {
  height: 200px;
  background-image: url(images/banner.jpg);
  background-size: cover;
  /* background-position:center; */
}
