body {
  background-color: lavender;
  color: purple;
  font-family: 'Hubballi', cursive;
  font-family: 'Smooch Sans', sans-serif;
}

h1 {
  color: darkpurple;
}

h2 {
  color: purple;
}

p {
  color: black
}
